@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --white: #fefefe;
  --black: #111111;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}

[data-theme="light"] {
  --white: #1e1e1e;
  --black: #ffffff;
  --blue: #007bff;
  --grey: #888;
  --darkgrey: #eae9e9;
  --green: #28a745;
  --red: #dc3545;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif !important;
  background-color: var(--black) !important;
}
::selection {
  background-color: var(--blue);
  color: var(--white);
}
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 3rem;
}
img {
  -webkit-user-drag: none;
  -moz-user-select: none;
}
.desc-anchor a {
  text-decoration: underline !important;
}
.desc-anchor p {
  margin-top: 8px;
  color: var(--grey);
  cursor: pointer;
}
